{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    {# {{ dump(test) }}#}
    <section class="container my-4">
        <div class="row">
            <div class="col">
                <h1 class="mt-4" style="text-align: center">Mot de passe oublié</h1>
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
