{% extends 'base.html.twig' %}

{% block title %}Hello RepresentantHController!{% endblock %}

{% block body %}
    {% block body %}
        <div class="container mt-4">
            <div class="jumbotron" style="text-align: center">
                <h1 class="display-4">Bienvenue sur <br> <span style="color: #1aa990">H</span>armony <span style="color: #1aa990">S</span>cheduler <span style="color: #1aa990">P</span>ro</h1>
                <p class="lead">Bienvenue en t'en que Representant d'Hopital</p>
                <hr class="my-4">
                <p>Chaque fonctionalité sont disponible si dessous</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="..." role="button">création offre d'emploi</a>
                    <a class="btn btn-primary btn-lg" href="..." role="button">Consulté offre d'emploi</a>
                    <a class="btn btn-primary btn-lg" href="..." role="button">Creation conference</a>
                    <a class="btn btn-primary btn-lg" href="..." role="button">Deconexion</a>
                </p>
            </div>
        </div>
    {% endblock %}
{% endblock %}
