{% extends 'base.html.twig' %}

{% block title %} HSP - Menu étudiant
{% endblock %}

{% block body %}
    <div class="container mt-4" style="text-align: center">
        <h2>Menu Étudiant</h2>
        <hr class="my-4">
        <div class="d-grid gap-2">
            <a href="conference">
                <button class="btn btn-lg btn-primary" type="button">Conférences</button>
            </a>
            <a>
                <button class="btn btn-lg btn-primary" type="button">Offres d'emploi</button>
            </a>
            <a>
                <button class="btn btn-lg btn-primary" type="button">Rendez vous</button>
            </a>
        </div>
    </div>
{% endblock %}