{% extends 'base.html.twig' %}

{% block title %} HSP - Menu utilisateur
{% endblock %}

{% block body %}
    <div class="container mt-4" style="text-align: center">
        <h2>Menu Utilisateur</h2>
        <hr class="my-4">
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button">Option 1</button>
            <button class="btn btn-lg btn-primary" type="button">Option 2</button>
            <button class="btn btn-lg btn-primary" type="button">Option 3</button>
            <button class="btn btn-lg btn-primary" type="button">Option 4</button>
            <button class="btn btn-lg btn-primary" type="button">Option 5</button>
        </div>
    </div>
{% endblock %}