{% extends 'base.html.twig' %}

{% block title %}Menu Administrateur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 style="text-align: center">Menu administrateur</h1>
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button">Consulter les comptes utilisateurs</button>
        <button class="btn btn-lg btn-primary" type="button">Consulter les conférences</button>
        <button class="btn btn-lg btn-primary" type="button">Consulter les inscriptions</button>
        <button class="btn btn-lg btn-primary" type="button">Consulter les amphithéâtres</button>
    </div>
</div>
{% endblock %}
