{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button">Consulter les comptes utilisateurs</button>
        <button class="btn btn-lg btn-primary" type="button">Consulter les conférences</button>
        <button class="btn btn-lg btn-primary" type="button">Consulter les inscriptions</button>
        <button class="btn btn-lg btn-primary" type="button">Consulter les amphithéâtres</button>
    </div>
</div>
{% endblock %}
